.search-result {
  margin-bottom: 20px;
}

.search-result h3.title {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 22px;
}

.search-result h3.title a {
  text-decoration: underline;
}

.search-result .search-result-url,
.search-result .search-result-age {
  color: #009933;
  font-size: 12px;
  margin-bottom: 5px;
}

.search-result .search-result-age {
  color: #666;
}

.num-found {
  color: #666;
  font-size: 24px;
}

.search-result .search-snippet-info {
  font-size: 13px;
}

.search-result .search-info {
  border-top: dotted 1px #ccc;
  font-size: 11px;
  padding-top: 2px;
}
